NODE_ENV=development
DATABASE_URL=postgresql://tambosec:tambosec@localhost:5432/tambosec
REDIS_URL=redis://localhost:6379
GCP_PROJECT_ID=project-c3ed6666-3a8d-4ef4-a6e
GOOGLE_WORKSPACE_CUSTOMER_ID=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_WEBHOOK_URL=
